body h1,h2,h3,h4,h5,h6{
	color: #4e4039;
}
/*...............................header-nav........................................*/
.nav-logo{
	color: #7a6960 !important;
}
.active{
	color:#eb5d1e !important;
}
.navbar-nav a:hover{
	color:#eb5d1e !important;
}
.nav-item input{
	background-color:#eb5d1e;
	border:none;
	font-size:1.1rem;
	padding:0.5rem;
	width:7rem;
}
.nav-item input:hover{
	background-color:#eb5d1e9c;
}
/*..............................banner section...............................*/
.banner{
    background-color: #fef8f5;
	border-bottom: 2px solid #fcebe3;
}
#ban input{
	background-color:#eb5d1e;
	border:none;
	font-size:1.1rem;
	padding:0.5rem;
	width:10rem;
}
#ban input:hover{
	background-color:#eb5d1e9c !important;
}
#ban h1{
	font-size:1.8rem;
	font-weight:700;
	line-height:1.2;
}
#ban p{
	font-size:1.1rem;
	color: #a08f86;
}
@media(min-width:360px){
	#ban img{
		
	}
	#ban h1{
		font-size:1.8rem;
		font-weight:700;
		line-height:1.2;
	}
	#ban p{
		font-size:1.1rem;
		color: #a08f86;
	}
}
@media(min-width:760px){
	#ban h1{
		font-size:1.7rem;
		font-weight:700;
		line-height:1.2;
	}
	#ban p{
		font-size:1.5rem;
		color: #a08f86;
	}
}
@media(min-width:1020px){
	#ban h1{
		font-size:3.5rem;
		font-weight:700;
		line-height:1.2;
	}
	#ban p{
		font-size:1.8rem;
		color: #a08f86;
	}
}
/*...................................about us....................................*/
.about{
	padding:5rem 0;
}
#abo p{
	font-size:1.1rem;
	color: #a08f86;
}
#abo iconify-icon{
	font-size:3rem;
	color: #f39e7a;
}